* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.header {
  background: #1A0B2E;
  padding: 16px 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}


.nav-links a {
  text-decoration: none;
  color: #ffffff;
}


.nav-links a:hover {
  color: rgb(185, 255, 33);
  cursor: pointer;
}

.button {
  background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  color: white;
  padding: 10px 16px;
  border-radius: 20px;
  display: inline-flex; 
  align-items: center;
  gap: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
}

.button2 {
  padding: 10px 16px;
  border-radius: 20px;
  color: #00FF88;
  display: inline-flex; 
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: 1px solid #00FF88;
  cursor: pointer;
  transition: all 0.4s ease;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}


.button:hover,
.button2:hover {
  background: rgb(17, 67, 84);
  color: rgb(255, 255, 255);
  border: none;
  transform: translateX(10px);
}


.hero {
  height: 90vh;
  background: url("assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.t2h1 {
  font-size: 50px;
  margin-bottom: 6px;
}

.t2h1p {
  font-size: 15px;
  margin-bottom: 6px;

}

.podcast-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.podcast-circle {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: url(assets/hero-circle.png) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.podcast-circle img {
  width: 90px;
}

.new-badge {
  position: absolute;
  top: 10px;
  right: 30px;
  background: #7dff9c;
  color: #1b1717;
  font-size: 16px;
  font-weight: bold;
  padding: 9px 14px;
  border-radius: 20px;
}