* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
  background: #1A0B2E;
  padding: 16px 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: rgb(185, 255, 33);
  transition: width 0.35s ease;
}

.nav-links a:hover {
  color: rgb(185, 255, 33);
}

.nav-links a:hover::after {
  width: 100%;
}

.button {
  background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  color: white;
  padding: 10px 16px;
  border-radius: 20px;
  display: inline-flex; 
  align-items: center;
  gap: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
}

.button2 {
  padding: 10px 16px;
  border-radius: 20px;
  color: #00FF88;
  display: inline-flex; 
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: 1px solid #00FF88;
  cursor: pointer;
  transition: all 0.4s ease;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button:hover,
.button2:hover {
  background: rgb(17, 67, 84);
  color: rgb(255, 255, 255);
  border: none;
  transform: translateX(10px);
}



.hero {
  height: 90vh;
  background: url("assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.t2h1 {
  font-size: 40px;
  margin-bottom: 6px;
}

.t2h1p {
  font-size: 15px;
  margin-bottom: 6px;
  opacity: 0.7;
}

.podcast-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.podcast-circle {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: url(assets/hero-circle.png) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.podcast-circle img {
  width: 90px;
}

.new-badge {
  position: absolute;
  top: 10px;
  right: 30px;
  background: #7dff9c;
  color: #1b1717;
  font-size: 16px;
  font-weight: bold;
  padding: 9px 14px;
  border-radius: 20px;
}



.third {
  height: 75vh;
  background: #1A0B2E;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.t3h1 {
 font-size: 45px;
 margin-bottom: 20px;
}

.t3h1p {
  margin-bottom: 4px;
  opacity: 0.8;
}

.third-line {
  height: 1px;
  background: white;
  opacity: 0.2;
  margin: 50px auto 50px;
}

.third-card {
  display: flex;
  gap: 200px;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0.8;
  text-align: center;
}

.t3h2 {
  font-size: 40px;
  margin-bottom: 8px;
  color: #00FF88;
}



.forth {
  height: 125vh;
  background: #230E3D;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.f4h1 {
    font-size: 45px;
    margin-bottom: 40px;
}

.f4 {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "ff1 ff2 ff2"
    "ff1 ff3 ff3"
    "ff4 ff4 ff5";
}
 
.f4card img{
    width: 40px;
    margin-bottom: 15px;
    display: block;

}

.f4card{
    padding: 24px;
    background: #250D44;
    border-radius: 20px;
    color: white;
    box-shadow: 0 10px 30px rgba(14, 14, 14, 0.3);
    cursor: pointer;
    transition: all 0.5s ease;
    text-align: left;
    padding-left: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.f4card:hover {
  border: none;
  transform: translateX(10px);
}

.f4h4 {
   font-size: 20px;
   margin-bottom: 15px;
}

.f4p {
    font-size: 16px;
    opacity: 0.7;
    line-height: 1.35;
}




.fifth {
  height: 140vh;
  background: #1A0B2E;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.t5h1 {
 font-size: 45px;
 margin-bottom: 35px;
}

.f5fea {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.f5card{
    width: 320px;
    height: 380px;
    background: #250D44;
    border-radius: 20px;
    color: white;
    box-shadow: 0 10px 30px rgba(14, 14, 14, 0.3);
    cursor: pointer;
    margin-bottom: 60px;
   transition: all 0.5s ease;
}

.f5card:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  transform: translateX(8px);
}

.f5cardh3,
.f5cardp,
.cardtime {
    text-align: left;
    padding-left: 15px;
}

.f5card iframe{
    width: 100%;
    height: 180px; 
    border: none;
}

.f5cardh3 {
    margin-top: 14px;
    font-size: 22px;
    margin-bottom: 14px;
    line-height: 1.3;

}

.f5cardp{
    font-size: 15px;
    line-height: 1.3;
    opacity: 0.8;
    margin-bottom: 14px;

}

.cardtime{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 15px;
    opacity: 0.8;
}

.cardtime img{
    width: 16px;
}

.f5abouthost {
    background: #251a3d;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 25px 40px;
    gap: 20px;
    text-align: left;
    margin-top: 30px;
}

.f5host img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.f5h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.f5h3p {
    color: #ffffff;
    opacity: 0.8;
    font-size : 15px;
    line-height: 1.5;
}

.social-icons {
    margin-top: 10px;
    display: flex;
    gap: 12px;
}

.soicons {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.soicons:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  transform: translateX(6px);
}



.footer {
    height: 40vh;
    background: url("assets/footer-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.frh1 {
  font-size:50px;
  margin-bottom: 20px;
}

.footer-social {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.social-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.social-icon img {
    width: 25px;
    height: 20px;
}

.social-icon a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.6;
}

.social-icon a:hover {
  color: rgb(185, 255, 33);
  cursor: pointer;
  opacity: 100%;
}

.copyright {
    font-size: 15px;
    opacity: 0.8;
}



@media (max-width: 576px) {

  /* ===== HEADER / NAV ===== */
  .header {
    padding: 16px 20px;
  }

  nav {
    flex-direction: row;
  }

  .nav-links {
    display: none; /* hamburger পরে */
  }

  .button {
    padding: 8px 14px;
    font-size: 14px;
  }

  /* ===== HERO ===== */
  .hero {
    height: auto;
    padding: 60px 20px;
  }

  .podcast-circle {
    width: 220px;
    height: 220px;
  }

  .podcast-circle img {
    width: 70px;
  }
  
  .new-badge {
    right: 10px;
    left: auto;
    top: 10px;
  }

  .t2h1 {
    font-size: 32px;
  }

  .t2h1p {
    font-size: 14px;
  }

  /* ===== ABOUT ===== */
  .third {
    height: auto;
    padding: 60px 20px;
  }

  .t3h1 {
    font-size: 32px;
  }

  .third-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    text-align: center;
  }

  .third-card > div {
    width: 100%;
  }

  /* ===== WHY CHOOSE ===== */
  .forth {
    height: auto;
    padding: 60px 20px;
  }

  .f4 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "ff1"
      "ff2"
      "ff3"
      "ff4"
      "ff5";
  }

  .f4h1 {
    font-size: 32px;
  }

  /* ===== FEATURED EPISODES ===== */
  .fifth {
    height: auto;
    padding: 60px 20px;
  }

  .f5fea {
    flex-direction: column;
    gap: 15px;
  }

  .f5card {
    width: 100%;
    max-width: 340px;
  }

  /* ===== HOST ===== */
  .f5abouthost {
    flex-direction: column;
    text-align: center;
    padding: 25px;
  }

  .f5host img {
    width: 140px;
    height: 140px;
  }

  .social-icons {
    justify-content: center;
  }

  /* ===== FOOTER ===== */
  .footer {
    height: auto;
    padding: 60px 20px;
  }

  .footer-social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }

}
